[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"
dockerfileDirectory = "."

[deploy]
startCommand = "npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100

[variables]
NODE_ENV = "production"
CORS_ORIGIN = "https://tmr-bill-generator.pages.dev"
USE_MOCK_DB = "false" 